# Récupération des données globales

In [56]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

url = "https://www.meteojob.com/jobs?what=data&where=Lyon"
response = requests.get(url)
if response.status_code == 200:
    htmlData = response.content
    soup = BeautifulSoup(htmlData, 'html.parser')

    job_listings = soup.find_all('div', class_='truncated-text-fix')
    jobsdata = []
    for job in job_listings:
        #metadataitems = job_listings('span', class="mr-1 mb-0 ng-star-inserted")
        title = job.find('h2').text.strip() if job.find('h2') else ''
        company = job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted") else ''
        types = job.find(class_="mr-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="mr-1 mb-0 ng-star-inserted") else ''
        localisation = job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0").text.strip() if job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0") else ''
        date = job.find(class_="cc-font-size-small").text.strip() if job.find(class_="cc-font-size-small") else ''
        salaire = job.find(class_="cc-tag-primary-light").text.strip() if job.find(class_="cc-tag-primary-light") else ''
        
        jobsdata.append({"Titre de l'offre": title,"Société": company, "Lieu": localisation, "Type d'offre": types, "Date d'actualisation": date,
                         "Salaires": salaire})
    df_jobs = pd.DataFrame(jobsdata)
    df_jobs = df_jobs.iloc[::1]

display(df_jobs)

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Architecte Data (H/F),Gif,Lyon 07 (69),CDI,Il y a 7 jours,
1,Architecte Data (H/F),Gif,,,Il y a 7 jours,
2,Data Scientist (h/f),LHH Recruitment Solutions,Villeurbanne (69),CDI,Il y a 12 jours,40 000 € - 46 000 €
3,Data Scientist (h/f),LHH Recruitment Solutions,,,Il y a 12 jours,
4,DATA Engineer Cloud,Le Mercato de l'Emploi,Lyon (69),CDI,Il y a 2 jours Nouveau,
5,DATA Engineer Cloud,Le Mercato de l'Emploi,,,Il y a 2 jours Nouveau,
6,Data Controller Comptable H/F,Talents AEC,Lyon 09 (69),CDI,Il y a 3 jours Nouveau,25 000 € - 35 000 € par an
7,Data Controller Comptable H/F,Talents AEC,,,Il y a 3 jours Nouveau,
8,Data Ingénieur Talend H/F,Amiltone,Lyon (69),CDI,Il y a 17 jours,28 000 € - 38 000 € par an
9,Data Ingénieur Talend H/F,Amiltone,,,Il y a 17 jours,
10,Data Engineer F/H,SYNERGIE,Chassieu (69),CDD - 6 mois,Il y a 7 heures Nouveau,30 000 € - 35 000 € par an
11,Data Engineer F/H,SYNERGIE,,,Il y a 7 heures Nouveau,
12,Data scientist en alternance (H/F),OpenClassrooms,Solaize (69),Alternance / Apprentissage,Il y a 7 jours,905 € - 1 600 € par mois
13,Data scientist en alternance (H/F),OpenClassrooms,,,Il y a 7 jours,
14,(H/F) Développeur Data BI,ADSEARCH,Saint-Priest (69),CDI,Il y a 8 jours,40 000 € - 50 000 €
15,(H/F) Développeur Data BI,ADSEARCH,,,Il y a 8 jours,
16,GESTIONNAIRE MASTER DATA (F/H),Randstad,Saint-Genis-Laval (69),Intérim - 6 mois,Il y a 6 jours,À partir de 2 200 € par mois
17,GESTIONNAIRE MASTER DATA (F/H),Randstad,,,Il y a 6 jours,
18,PMO DATA STAGE (H-F),CESI,Villeurbanne (69),Stage,Il y a 12 jours,
19,PMO DATA STAGE (H-F),CESI,,,Il y a 12 jours,
20,Alternance - Product Owner data F/H,OpenClassrooms,Lyon (69),Alternance / Apprentissage,Il y a 7 jours,905 € - 1 600 € par mois
21,Alternance - Product Owner data F/H,OpenClassrooms,,,Il y a 7 jours,
22,Stage - Data Marketing et Analytics BtoB H/F,The Adecco Group,Villeurbanne (69),Stage,Il y a 13 jours,6 000 € - 8 000 €
23,Stage - Data Marketing et Analytics BtoB H/F,The Adecco Group,,,Il y a 13 jours,
24,Chef de projet IT H/F,AÉSIO Mutuelle,Lyon (69),CDI,Il y a 4 jours Nouveau,
25,Chef de projet IT H/F,AÉSIO Mutuelle,,,Il y a 4 jours Nouveau,
26,Ingénieur réseau H/F,AÉSIO Mutuelle,Lyon (69),CDI,Il y a 7 jours,
27,Ingénieur réseau H/F,AÉSIO Mutuelle,,,Il y a 7 jours,
28,(H/F) Release Manager SAP,ADSEARCH,Lyon (69),CDI,Il y a 2 jours Nouveau,50 000 € - 60 000 €
29,(H/F) Release Manager SAP,ADSEARCH,,,Il y a 2 jours Nouveau,
30,Coordonnateur de Données - F/H,RTE - Réseau de transport d'électricité,Lyon 07 (69),CDI,Il y a 4 jours Nouveau,
31,Coordonnateur de Données - F/H,RTE - Réseau de transport d'électricité,,,Il y a 4 jours Nouveau,
32,Responsable gouvernance de données (H/F),Prosol,Chaponnay (69),CDI,Il y a 2 jours Nouveau,
33,Responsable gouvernance de données (H/F),Prosol,,,Il y a 2 jours Nouveau,
34,CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7,ENDRIX LYO,Lyon (69),CDI,Il y a 4 jours Nouveau,
35,CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7,ENDRIX LYO,,,Il y a 4 jours Nouveau,
36,Scrum Master H/F,Activus,Lyon (69),CDI,Hier Nouveau,
37,Scrum Master H/F,Activus,,,Hier Nouveau,
38,Développement Wonderware F/H,MEENT,Lyon (69),CDI,Il y a 5 jours,
39,Développement Wonderware F/H,MEENT,,,Il y a 5 jours,

# Factorisation

In [54]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

def extract_job_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        htmlData = response.content
        soup = BeautifulSoup(htmlData, 'html.parser')

        job_listings = soup.find_all('div', class_='truncated-text-fix')
        jobsdata = []
        for job in job_listings:
            title = job.find('h2').text.strip() if job.find('h2') else ''
            company = job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted") else ''
            types = job.find(class_="mr-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="mr-1 mb-0 ng-star-inserted") else ''
            localisation = job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0").text.strip() if job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0") else ''
            date = job.find(class_="cc-font-size-small").text.strip() if job.find(class_="cc-font-size-small") else ''
            salaire = job.find(class_="cc-tag-primary-light").text.strip() if job.find(class_="cc-tag-primary-light") else ''

            jobsdata.append({"Titre de l'offre": title,"Société": company, "Lieu": localisation, "Type d'offre": types, "Date d'actualisation": date,
                             "Salaires": salaire})
        df_jobs = pd.DataFrame(jobsdata)
        df_jobs = df_jobs.iloc[::1]
        return df_jobs
    else:
        return None

# Exemple d'utilisation de la fonction
url = "https://www.meteojob.com/jobs?what=data&where=Lyon"
df_jobs = extract_job_data(url)
if df_jobs is not None:
    display(df_jobs)
else:
    print("Une erreur s'est produite lors de la récupération des données.")

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Architecte Data (H/F),Gif,Lyon 07 (69),CDI,Il y a 7 jours,
1,Architecte Data (H/F),Gif,,,Il y a 7 jours,
2,Data Scientist (h/f),LHH Recruitment Solutions,Villeurbanne (69),CDI,Il y a 12 jours,40 000 € - 46 000 €
3,Data Scientist (h/f),LHH Recruitment Solutions,,,Il y a 12 jours,
4,DATA Engineer Cloud,Le Mercato de l'Emploi,Lyon (69),CDI,Il y a 2 jours Nouveau,
5,DATA Engineer Cloud,Le Mercato de l'Emploi,,,Il y a 2 jours Nouveau,
6,Data Controller Comptable H/F,Talents AEC,Lyon 09 (69),CDI,Il y a 3 jours Nouveau,25 000 € - 35 000 € par an
7,Data Controller Comptable H/F,Talents AEC,,,Il y a 3 jours Nouveau,
8,Data Ingénieur Talend H/F,Amiltone,Lyon (69),CDI,Il y a 17 jours,28 000 € - 38 000 € par an
9,Data Ingénieur Talend H/F,Amiltone,,,Il y a 17 jours,
10,Data Engineer F/H,SYNERGIE,Chassieu (69),CDD - 6 mois,Il y a 7 heures Nouveau,30 000 € - 35 000 € par an
11,Data Engineer F/H,SYNERGIE,,,Il y a 7 heures Nouveau,
12,Data scientist en alternance (H/F),OpenClassrooms,Solaize (69),Alternance / Apprentissage,Il y a 7 jours,905 € - 1 600 € par mois
13,Data scientist en alternance (H/F),OpenClassrooms,,,Il y a 7 jours,
14,(H/F) Développeur Data BI,ADSEARCH,Saint-Priest (69),CDI,Il y a 8 jours,40 000 € - 50 000 €
15,(H/F) Développeur Data BI,ADSEARCH,,,Il y a 8 jours,
16,GESTIONNAIRE MASTER DATA (F/H),Randstad,Saint-Genis-Laval (69),Intérim - 6 mois,Il y a 6 jours,À partir de 2 200 € par mois
17,GESTIONNAIRE MASTER DATA (F/H),Randstad,,,Il y a 6 jours,
18,PMO DATA STAGE (H-F),CESI,Villeurbanne (69),Stage,Il y a 12 jours,
19,PMO DATA STAGE (H-F),CESI,,,Il y a 12 jours,
20,Alternance - Product Owner data F/H,OpenClassrooms,Lyon (69),Alternance / Apprentissage,Il y a 7 jours,905 € - 1 600 € par mois
21,Alternance - Product Owner data F/H,OpenClassrooms,,,Il y a 7 jours,
22,Stage - Data Marketing et Analytics BtoB H/F,The Adecco Group,Villeurbanne (69),Stage,Il y a 13 jours,6 000 € - 8 000 €
23,Stage - Data Marketing et Analytics BtoB H/F,The Adecco Group,,,Il y a 13 jours,
24,Chef de projet IT H/F,AÉSIO Mutuelle,Lyon (69),CDI,Il y a 4 jours Nouveau,
25,Chef de projet IT H/F,AÉSIO Mutuelle,,,Il y a 4 jours Nouveau,
26,Ingénieur réseau H/F,AÉSIO Mutuelle,Lyon (69),CDI,Il y a 7 jours,
27,Ingénieur réseau H/F,AÉSIO Mutuelle,,,Il y a 7 jours,
28,(H/F) Release Manager SAP,ADSEARCH,Lyon (69),CDI,Il y a 2 jours Nouveau,50 000 € - 60 000 €
29,(H/F) Release Manager SAP,ADSEARCH,,,Il y a 2 jours Nouveau,
30,Coordonnateur de Données - F/H,RTE - Réseau de transport d'électricité,Lyon 07 (69),CDI,Il y a 4 jours Nouveau,
31,Coordonnateur de Données - F/H,RTE - Réseau de transport d'électricité,,,Il y a 4 jours Nouveau,
32,Responsable gouvernance de données (H/F),Prosol,Chaponnay (69),CDI,Il y a 2 jours Nouveau,
33,Responsable gouvernance de données (H/F),Prosol,,,Il y a 2 jours Nouveau,
34,CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7,ENDRIX LYO,Lyon (69),CDI,Il y a 4 jours Nouveau,
35,CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7,ENDRIX LYO,,,Il y a 4 jours Nouveau,
36,Scrum Master H/F,Activus,Lyon (69),CDI,Hier Nouveau,
37,Scrum Master H/F,Activus,,,Hier Nouveau,
38,Développeur Back End H/F,Activus,Lyon (69),CDI,Il y a 10 heures Nouveau,
39,Développeur Back End H/F,Activus,,,Il y a 10 heures Nouveau,

# Dataframe par lieu

In [57]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

def extract_job_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        htmlData = response.content
        soup = BeautifulSoup(htmlData, 'html.parser')

        job_listings = soup.find_all('div', class_='truncated-text-fix')
        jobsdata = []
        for job in job_listings:
            title = job.find('h2').text.strip() if job.find('h2') else ''
            company = job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted") else ''
            types = job.find(class_="mr-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="mr-1 mb-0 ng-star-inserted") else ''
            localisation = job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0").text.strip() if job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0") else ''
            date = job.find(class_="cc-font-size-small").text.strip() if job.find(class_="cc-font-size-small") else ''
            salaire = job.find(class_="cc-tag-primary-light").text.strip() if job.find(class_="cc-tag-primary-light") else ''

            jobsdata.append({"Titre de l'offre": title,"Société": company, "Lieu": localisation, "Type d'offre": types, "Date d'actualisation": date,
                             "Salaires": salaire})
        df_jobs = pd.DataFrame(jobsdata)
        df_jobs = df_jobs.iloc[::1]
        return df_jobs
    else:
        return None

# Exemple d'utilisation de la fonction
url = "https://www.meteojob.com/jobs?what=data&where=Lyon"
df_jobs = extract_job_data(url)
if df_jobs is not None:
    # Créer un DataFrame par lieu
    df_jobs_by_location = df_jobs.groupby('Lieu').apply(lambda x: x.reset_index(drop=True))
    display(df_jobs_by_location)
else:
    print("Une erreur s'est produite lors de la récupération des données.")

                                                          Titre de l'offre  \
Lieu
                       0                             Architecte Data (H/F)
                       1                              Data Scientist (h/f)
                       2                               DATA Engineer Cloud
                       3                     Data Controller Comptable H/F
                       4                         Data Ingénieur Talend H/F
                       5                                 Data Engineer F/H
                       6                Data scientist en alternance (H/F)
                       7                         (H/F) Développeur Data BI
                       8                    GESTIONNAIRE MASTER DATA (F/H)
                       9                              PMO DATA STAGE (H-F)
                       10              Alternance - Product Owner data F/H
                       11     Stage - Data Marketing et Analytics BtoB H/F
                       12                            Chef de projet IT H/F
                       13                             Ingénieur réseau H/F
                       14                        (H/F) Release Manager SAP
                       15                  Coordonnateur de Données  - F/H
                       16         Responsable gouvernance de données (H/F)
                       17  CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7
                       18                         Développeur Back End H/F
                       19                                 Scrum Master H/F
Chaponnay (69)         0          Responsable gouvernance de données (H/F)
Chassieu (69)          0                                 Data Engineer F/H
Lyon (69)              0                               DATA Engineer Cloud
                       1                         Data Ingénieur Talend H/F
                       2               Alternance - Product Owner data F/H
                       3                             Chef de projet IT H/F
                       4                              Ingénieur réseau H/F
                       5                         (H/F) Release Manager SAP
                       6   CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7
                       7                          Développeur Back End H/F
                       8                                  Scrum Master H/F
Lyon 07 (69)           0                             Architecte Data (H/F)
                       1                   Coordonnateur de Données  - F/H
Lyon 09 (69)           0                     Data Controller Comptable H/F
Saint-Genis-Laval (69) 0                    GESTIONNAIRE MASTER DATA (F/H)
Saint-Priest (69)      0                         (H/F) Développeur Data BI
Solaize (69)           0                Data scientist en alternance (H/F)
Villeurbanne (69)      0                              Data Scientist (h/f)
                       1                              PMO DATA STAGE (H-F)
                       2      Stage - Data Marketing et Analytics BtoB H/F

                                                           Société  \
Lieu
                       0                                       Gif
                       1                 LHH Recruitment Solutions
                       2                    Le Mercato de l'Emploi
                       3                               Talents AEC
                       4                                  Amiltone
                       5                                  SYNERGIE
                       6                            OpenClassrooms
                       7                                  ADSEARCH
                       8                                  Randstad
                       9                                      CESI
                       10                           OpenClassrooms
                       11                         The Adecco Group
                       12                           AÉSIO Mutuelle
                       13                           AÉSIO Mutuelle
                       14                                 ADSEARCH
                       15  RTE - Réseau de transport d'électricité
                       16                                   Prosol
                       17                               ENDRIX LYO
                       18                                  Activus
                       19                                  Activus
Chaponnay (69)         0                                    Prosol
Chassieu (69)          0                                  SYNERGIE
Lyon (69)              0                    Le Mercato de l'Emploi
                       1                                  Amiltone
                       2                            OpenClassrooms
                       3                            AÉSIO Mutuelle
                       4                            AÉSIO Mutuelle
                       5                                  ADSEARCH
                       6                                ENDRIX LYO
                       7                                   Activus
                       8                                   Activus
Lyon 07 (69)           0                                       Gif
                       1   RTE - Réseau de transport d'électricité
Lyon 09 (69)           0                               Talents AEC
Saint-Genis-Laval (69) 0                                  Randstad
Saint-Priest (69)      0                                  ADSEARCH
Solaize (69)           0                            OpenClassrooms
Villeurbanne (69)      0                 LHH Recruitment Solutions
                       1                                      CESI
                       2                          The Adecco Group

                                             Lieu                Type d'offre  \
Lieu
                       0
                       1
                       2
                       3
                       4
                       5
                       6
                       7
                       8
                       9
                       10
                       11
                       12
                       13
                       14
                       15
                       16
                       17
                       18
                       19
Chaponnay (69)         0           Chaponnay (69)                         CDI
Chassieu (69)          0            Chassieu (69)                CDD - 6 mois
Lyon (69)              0                Lyon (69)                         CDI
                       1                Lyon (69)                         CDI
                       2                Lyon (69)  Alternance / Apprentissage
                       3                Lyon (69)                         CDI
                       4                Lyon (69)                         CDI
                       5                Lyon (69)                         CDI
                       6                Lyon (69)                         CDI
                       7                Lyon (69)                         CDI
                       8                Lyon (69)                         CDI
Lyon 07 (69)           0             Lyon 07 (69)                         CDI
                       1             Lyon 07 (69)                         CDI
Lyon 09 (69)           0             Lyon 09 (69)                         CDI
Saint-Genis-Laval (69) 0   Saint-Genis-Laval (69)            Intérim - 6 mois
Saint-Priest (69)      0        Saint-Priest (69)                         CDI
Solaize (69)           0             Solaize (69)  Alternance / Apprentissage
Villeurbanne (69)      0        Villeurbanne (69)                         CDI
                       1        Villeurbanne (69)                       Stage
                       2        Villeurbanne (69)                       Stage

                               Date d'actualisation  \
Lieu
                       0             Il y a 7 jours
                       1            Il y a 12 jours
                       2     Il y a 2 jours Nouveau
                       3     Il y a 3 jours Nouveau
                       4            Il y a 17 jours
                       5    Il y a 7 heures Nouveau
                       6             Il y a 7 jours
                       7             Il y a 8 jours
                       8             Il y a 6 jours
                       9            Il y a 12 jours
                       10            Il y a 7 jours
                       11           Il y a 13 jours
                       12    Il y a 4 jours Nouveau
                       13            Il y a 7 jours
                       14    Il y a 2 jours Nouveau
                       15    Il y a 4 jours Nouveau
                       16    Il y a 2 jours Nouveau
                       17    Il y a 4 jours Nouveau
                       18  Il y a 10 heures Nouveau
                       19              Hier Nouveau
Chaponnay (69)         0     Il y a 2 jours Nouveau
Chassieu (69)          0    Il y a 7 heures Nouveau
Lyon (69)              0     Il y a 2 jours Nouveau
                       1            Il y a 17 jours
                       2             Il y a 7 jours
                       3     Il y a 4 jours Nouveau
                       4             Il y a 7 jours
                       5     Il y a 2 jours Nouveau
                       6     Il y a 4 jours Nouveau
                       7   Il y a 10 heures Nouveau
                       8               Hier Nouveau
Lyon 07 (69)           0             Il y a 7 jours
                       1     Il y a 4 jours Nouveau
Lyon 09 (69)           0     Il y a 3 jours Nouveau
Saint-Genis-Laval (69) 0             Il y a 6 jours
Saint-Priest (69)      0             Il y a 8 jours
Solaize (69)           0             Il y a 7 jours
Villeurbanne (69)      0            Il y a 12 jours
                       1            Il y a 12 jours
                       2            Il y a 13 jours

                                               Salaires
Lieu
                       0
                       1
                       2
                       3
                       4
                       5
                       6
                       7
                       8
                       9
                       10
                       11
                       12
                       13
                       14
                       15
                       16
                       17
                       18
                       19
Chaponnay (69)         0
Chassieu (69)          0     30 000 € - 35 000 € par an
Lyon (69)              0
                       1     28 000 € - 38 000 € par an
                       2       905 € - 1 600 € par mois
                       3
                       4
                       5            50 000 € - 60 000 €
                       6
                       7
                       8
Lyon 07 (69)           0
                       1
Lyon 09 (69)           0     25 000 € - 35 000 € par an
Saint-Genis-Laval (69) 0   À partir de 2 200 € par mois
Saint-Priest (69)      0            40 000 € - 50 000 €
Solaize (69)           0       905 € - 1 600 € par mois
Villeurbanne (69)      0            40 000 € - 46 000 €
                       1
                       2              6 000 € - 8 000 €

In [58]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

def extract_job_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        htmlData = response.content
        soup = BeautifulSoup(htmlData, 'html.parser')

        job_listings = soup.find_all('div', class_='truncated-text-fix')
        jobsdata = []
        for job in job_listings:
            title = job.find('h2').text.strip() if job.find('h2') else ''
            company = job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted") else ''
            types = job.find(class_="mr-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="mr-1 mb-0 ng-star-inserted") else ''
            localisation = job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0").text.strip() if job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0") else ''
            date = job.find(class_="cc-font-size-small").text.strip() if job.find(class_="cc-font-size-small") else ''
            salaire = job.find(class_="cc-tag-primary-light").text.strip() if job.find(class_="cc-tag-primary-light") else ''

            jobsdata.append({"Titre de l'offre": title,"Société": company, "Lieu": localisation, "Type d'offre": types, "Date d'actualisation": date,
                             "Salaires": salaire})
        df_jobs = pd.DataFrame(jobsdata)
        df_jobs = df_jobs.iloc[::1]
        return df_jobs
    else:
        return None

# Exemple d'utilisation de la fonction
url = "https://www.meteojob.com/jobs?what=data&where=Lyon"
df_jobs = extract_job_data(url)
if df_jobs is not None:
    # Créer un DataFrame par lieu
    dfs_by_location = {}
    for location, group in df_jobs.groupby('Lieu'):
        dfs_by_location[location] = group.reset_index(drop=True)
    
    # Afficher les DataFrames par lieu
    for location, df in dfs_by_location.items():
        print(f"Emploi à {location}:")
        display(df)
else:
    print("Une erreur s'est produite lors de la récupération des données.")

Emploi à :

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Architecte Data (H/F),Gif,,,Il y a 7 jours,
1,Data Scientist (h/f),LHH Recruitment Solutions,,,Il y a 12 jours,
2,DATA Engineer Cloud,Le Mercato de l'Emploi,,,Il y a 2 jours Nouveau,
3,Data Controller Comptable H/F,Talents AEC,,,Il y a 3 jours Nouveau,
4,Data Ingénieur Talend H/F,Amiltone,,,Il y a 17 jours,
5,Data Engineer F/H,SYNERGIE,,,Il y a 7 heures Nouveau,
6,Data scientist en alternance (H/F),OpenClassrooms,,,Il y a 7 jours,
7,(H/F) Développeur Data BI,ADSEARCH,,,Il y a 8 jours,
8,GESTIONNAIRE MASTER DATA (F/H),Randstad,,,Il y a 6 jours,
9,PMO DATA STAGE (H-F),CESI,,,Il y a 12 jours,
10,Alternance - Product Owner data F/H,OpenClassrooms,,,Il y a 7 jours,
11,Stage - Data Marketing et Analytics BtoB H/F,The Adecco Group,,,Il y a 13 jours,
12,Chef de projet IT H/F,AÉSIO Mutuelle,,,Il y a 4 jours Nouveau,
13,Ingénieur réseau H/F,AÉSIO Mutuelle,,,Il y a 7 jours,
14,(H/F) Release Manager SAP,ADSEARCH,,,Il y a 2 jours Nouveau,
15,Coordonnateur de Données - F/H,RTE - Réseau de transport d'électricité,,,Il y a 4 jours Nouveau,
16,Responsable gouvernance de données (H/F),Prosol,,,Il y a 2 jours Nouveau,
17,Développeur Back End H/F,Activus,,,Il y a 10 heures Nouveau,
18,CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7,ENDRIX LYO,,,Il y a 4 jours Nouveau,
19,Scrum Master H/F,Activus,,,Hier Nouveau,

Emploi à Chaponnay (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Responsable gouvernance de données (H/F),Prosol,Chaponnay (69),CDI,Il y a 2 jours Nouveau,

Emploi à Chassieu (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Data Engineer F/H,SYNERGIE,Chassieu (69),CDD - 6 mois,Il y a 7 heures Nouveau,30 000 € - 35 000 € par an

Emploi à Lyon (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,DATA Engineer Cloud,Le Mercato de l'Emploi,Lyon (69),CDI,Il y a 2 jours Nouveau,
1,Data Ingénieur Talend H/F,Amiltone,Lyon (69),CDI,Il y a 17 jours,28 000 € - 38 000 € par an
2,Alternance - Product Owner data F/H,OpenClassrooms,Lyon (69),Alternance / Apprentissage,Il y a 7 jours,905 € - 1 600 € par mois
3,Chef de projet IT H/F,AÉSIO Mutuelle,Lyon (69),CDI,Il y a 4 jours Nouveau,
4,Ingénieur réseau H/F,AÉSIO Mutuelle,Lyon (69),CDI,Il y a 7 jours,
5,(H/F) Release Manager SAP,ADSEARCH,Lyon (69),CDI,Il y a 2 jours Nouveau,50 000 € - 60 000 €
6,Développeur Back End H/F,Activus,Lyon (69),CDI,Il y a 10 heures Nouveau,
7,CDI | CONSULTANT TRANSACTIONS SERVICES | LYON 7,ENDRIX LYO,Lyon (69),CDI,Il y a 4 jours Nouveau,
8,Scrum Master H/F,Activus,Lyon (69),CDI,Hier Nouveau,

Emploi à Lyon 07 (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Architecte Data (H/F),Gif,Lyon 07 (69),CDI,Il y a 7 jours,
1,Coordonnateur de Données - F/H,RTE - Réseau de transport d'électricité,Lyon 07 (69),CDI,Il y a 4 jours Nouveau,

Emploi à Lyon 09 (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Data Controller Comptable H/F,Talents AEC,Lyon 09 (69),CDI,Il y a 3 jours Nouveau,25 000 € - 35 000 € par an

Emploi à Saint-Genis-Laval (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,GESTIONNAIRE MASTER DATA (F/H),Randstad,Saint-Genis-Laval (69),Intérim - 6 mois,Il y a 6 jours,À partir de 2 200 € par mois

Emploi à Saint-Priest (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,(H/F) Développeur Data BI,ADSEARCH,Saint-Priest (69),CDI,Il y a 8 jours,40 000 € - 50 000 €

Emploi à Solaize (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Data scientist en alternance (H/F),OpenClassrooms,Solaize (69),Alternance / Apprentissage,Il y a 7 jours,905 € - 1 600 € par mois

Emploi à Villeurbanne (69):

,Titre de l'offre,Société,Lieu,Type d'offre,Date d'actualisation,Salaires
0,Data Scientist (h/f),LHH Recruitment Solutions,Villeurbanne (69),CDI,Il y a 12 jours,40 000 € - 46 000 €
1,PMO DATA STAGE (H-F),CESI,Villeurbanne (69),Stage,Il y a 12 jours,
2,Stage - Data Marketing et Analytics BtoB H/F,The Adecco Group,Villeurbanne (69),Stage,Il y a 13 jours,6 000 € - 8 000 €

# Automatisation

In [31]:
pip install schedule

Collecting schedule
  Downloading schedule-1.2.1-py2.py3-none-any.whl.metadata (3.3 kB)
Downloading schedule-1.2.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: schedule
Successfully installed schedule-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import schedule
import time

def extract_job_data():
    url = "https://www.meteojob.com/jobs?what=data&where=Lyon"
    response = requests.get(url)
    if response.status_code == 200:
        htmlData = response.content
        soup = BeautifulSoup(htmlData, 'html.parser')

        job_listings = soup.find_all('div', class_='truncated-text-fix')
        jobsdata = []
        for job in job_listings:
            title = job.find('h2').text.strip() if job.find('h2') else ''
            company = job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="d-inline-block mt-1 mb-0 ng-star-inserted") else ''
            types = job.find(class_="mr-1 mb-0 ng-star-inserted").text.strip() if job.find(class_="mr-1 mb-0 ng-star-inserted") else ''
            localisation = job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0").text.strip() if job.find(class_="mr-3 mb-1 cc-font-size-small mb-lg-3 mr-lg-0") else ''
            date = job.find(class_="cc-font-size-small").text.strip() if job.find(class_="cc-font-size-small") else ''
            salaire = job.find(class_="cc-tag-primary-light").text.strip() if job.find(class_="cc-tag-primary-light") else ''

            jobsdata.append({"Titre de l'offre": title,"Société": company, "Lieu": localisation, "Type d'offre": types, "Date d'actualisation": date,
                             "Salaires": salaire})
        df_jobs = pd.DataFrame(jobsdata)
        df_jobs = df_jobs.iloc[::2]

        # Enregistrer le DataFrame dans un fichier CSV
        df_jobs.to_csv('jobs_data.csv', index=False)
        print("Données extraites et enregistrées avec succès !")

# Planifier l'extraction des données une fois par jour à une heure précise
schedule.every().day.at("10:00").do(extract_job_data)
# Boucle d'exécution pour que le script s'exécute indéfiniment
while True:
    schedule.run_pending()
    time.sleep(1)

KeyboardInterrupt: